@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src: url("./assets/Fonts/Satoshi-Regular.otf") format("opentype");
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
  }

  html {
    background-color: #ffffff;
  }

  h1 {
    @apply lg:text-3xl md:text-2xl text-xl leading-10;
  }

  h2 {
    @apply lg:text-2xl sm:text-xl text-lg font-medium;
  }

  h3 {
    @apply lg:text-xl text-lg font-bold;
  }

  h4 {
    @apply lg:text-lg text-md font-medium;
  }

  p {
    @apply md:text-md text-sm font-normal;
  }

  a {
    @apply cursor-pointer;
  }

  input[type="checkbox"] {
    -webkit-appearance: none;
    @apply h-4 w-4 bg-dark-grey rounded-[5px] cursor-pointer;
  }

  input[type="checkbox"]:checked {
    @apply bg-tick bg-no-repeat bg-center bg-contain;
  }

  input[type="range"] {
    -webkit-appearance: none;
    @apply w-full h-6 overflow-hidden;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    @apply w-full h-1 bg-[#b8bcb5];
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    @apply h-5 w-5 bg-secondary-black
      cursor-pointer rounded-full -mt-[10px];
  }

  input[type="range"]::-moz-range-progress {
    @apply w-full h-1 bg-secondary-black;
  }
}

@layer components {
  .link {
    @apply md:text-lg text-secondary-black text-md font-normal;
  }

  .link.active {
    @apply md:text-lg text-lg font-medium border-b-2 border-b-primary-black;
  }

  .product:nth-child(2) > div {
    @apply flex lg:flex-row-reverse;
  }

  .creators li {
    @apply lg:text-xl text-lg lg:m-0 mx-2 leading-normal font-normal;
  }

  .footer-link {
    @apply text-lg text-primary-black cursor-pointer;
  }

  .category {
    @apply my-1 flex gap-2 items-center text-primary-black;
  }

  .filter {
    @apply flex flex-row items-center justify-between cursor-pointer;
  }

  .cart-link {
    @apply lg:text-md pb-2;
  }
}
